@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Handlee&display=swap');
@import "partials/reset";
@import "partials/variables";

/* Estilos para elementos de encabezado y navegación */

.navbar-brand,
.nav-link {
    color: white;
}

.navbar {
    background-color: #333333;
}

/* Estilos de sección de intro */
#intro {
    text-align: center;
    text-emphasis-color: red;
    padding: 50px;
    background-image: url("../imagenes/fondoinicio.jpg");
    margin-top: 4%;
    background-size: cover;
    background-position: center;
    color: #ffffff;

    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    h1 {
        animation: fadeInOut 3s infinite;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 20px;

    }

    a {
        background-color: $color;
        color: #ffffff;
        font-size: $fontsizeparrafos;
        padding: 5px 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
            background-color: black;
        }
    }
}

/* seccion de servicios index */

#servicios {
    text-align: center;


    h2 {
        font-size: $fontsizeh2;
    }

    ul {
        list-style: none;

        li {
            font-size: 1.2em;
            background-color: #f7f7f7;
            overflow: hidden;
        }
    }




}

.contenedors {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    padding: 30px;
    grid-gap: 20px;

    .galeria-item {
        position: relative;
        border: 1px solid $color;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .galeria-texto {
        position: absolute;
        padding: 20px;
    }

    .galeria-img {
        width: $anchoylargomax;
        height: $anchoylargomax;
        object-fit: cover;


    }
}

/* seccion de trabajos index */

#trabajos {
    padding: 50px 0;
    text-align: center;

    h2 {
        font-size: $fontsizeh2;
    }


}

div .container #carouselExample {
    width: $anchoylargomax;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Estilos del pie de página */

#footer {
    padding: 50px;
    text-align: center;
    font-size: $fontsizeparrafos;
    position: absolute;
    left: 0;
    right: 0;

}

.linkpagina1 {
    text-decoration: none;
    color: blue;

    &:hover {
        transform: scale(1.05);
    }

    &:link {
        text-transform: uppercase;
    }
}

.linkpagina2 {
    color: red;

    &:hover {
        transform: scale(1.05);
    }

    &:link {
        text-transform: uppercase;
    }
}

/* pagina servicios */

main .services {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
    padding: 2rem;
    margin-top: 3%;

    .service {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 10px;
        padding: 1rem;
        border-radius: 5px;
        text-align: center;

        img {
            width: $anchoylargomax;
            max-width: 400px;
            border-radius: 5px;

        }
    }
}

/* pagina de trabajos realizados */

.cartas {
    display: grid;
    height: $anchoylargomax;
    place-items: center;


    .card {
        background-color: rgba(255, 255, 255, 0.2);

    }

}

/* pagina pedi turno */


.pedirturno {
    .container {
        width: $anchoylargochico;
        margin-top: 6%;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        input {
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid black;
            border-radius: 5px;
            transition: border-color 0.3s ease;
        }

        input:focus {
            border-color: dodgerblue;
        }

        .btn {
            background-color: $color;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: $borderadius;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: black;
        }

        @keyframes fadeInOut {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        h1 {
            animation: fadeInOut 3s infinite;
        }

        select {
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid black;
            border-radius: 5px;
            transition: border-color 0.3s ease;
            width: 100%;
        }

        select:focus {
            border-color: black;
        }
    }


}



/* pagina de contacto */

#contacto {
    background-color: $color;
    padding: 50px 0;
    text-align: center;

    h2 {
        font-size: $fontsizeh2;
        color: #ffffff;
    }

    .linkcomentario {
        text-decoration: none;
    }
}

#contacto {
    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        label {
            font-size: $fontsizeparrafos;
            color: #ffffff;
            margin-bottom: 10px;
        }

        input {
            width: $anchoylargomax;
        }
    }



    textarea {
        width: $anchoylargomax;
        padding: 10px;
        border: none;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 1.2em;
    }
}
/* extend de btn */

.btn {
    background-color: $color;
    color: #ffffff;
    font-size: $fontsizeparrafos;
    padding: 5px 20px;
    border-radius: $borderadius;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-big {
    @extend .btn;
    padding: 10px 15px;
    cursor: pointer;

}



/* media queries */

@import "partials/queries"