@media screen and (max-width:768px) {

  .contenedors {
    grid-template-columns: 1fr;

    .galeria-texto {
      position: absolute;
      padding: 20px;
      bottom: 0;
    }

  }

  #intro {
    background-image: url("../imagenes/estetica.jfif");
    margin-top: 7%;
  }

  #intro {
    width: 100%;
  }

  #pedirturno {
    margin-top: 5%;
  }
}

@media screen and (max-width:768px) {
  main .services {
    grid-template-columns: 1fr;
  }

}